#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear} By ${config.author}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  //- if theme.footer.copyright
  //-   .framework-info
  //-     span= _p('footer.framework') + ' '
  //-     a(href='https://hexo.io')= 'Hexo'
  //-     span.footer-separator |
  //-     span= _p('footer.theme') + ' 's
  //-     a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
