@font-face {
  font-family: "iconfont"; /* Project id 4144918 */
  src: url('//at.alicdn.com/t/c/font_4144918_sve4fopw3s.woff2?t=1688048190118') format('woff2'),
       url('//at.alicdn.com/t/c/font_4144918_sve4fopw3s.woff?t=1688048190118') format('woff'),
       url('//at.alicdn.com/t/c/font_4144918_sve4fopw3s.ttf?t=1688048190118') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e747";
}
.icon-linkedin:hover {
  transform: rotateZ(360deg);
}

.icon-gitee:before {
  content: "\e60c";
}
.icon-gitee:hover {
  transform: rotateZ(360deg);
}

.icon-csdn:before {
  content: "\e638";
}
.icon-csdn:hover {
  transform: rotateZ(360deg);
}

.icon-QQ:before {
  content: "\e882";
}
.icon-QQ:hover {
  transform: rotateZ(360deg);
}

.icon-weixin:before {
  content: "\e607";
}
.icon-weixin:hover {
  transform: rotateZ(360deg);
}

.icon-twitter:before {
  content: "\ea90";
}
.icon-twitter:hover {
  transform: rotateZ(360deg);
}

.icon-facebook-fill:before {
  content: "\eab3";
}
.icon-facebook-fill:hover {
  transform: rotateZ(360deg);
}

.icon-bilibili:before {
  content: "\e609";
}
.icon-bilibili:hover {
  transform: rotateZ(360deg);
}

.icon-juejin:before {
  content: "\e60b";
}
.icon-juejin:hover {
  transform: rotateZ(360deg);
}